:root { --sidebar-bg: #0e5899; }

body {
    background: #fdfdfd;
}

#main-menu .menu .menu-item-contents {
    color: white;
}

#main-menu .menu .menu-header {
    color: white;
}

#main-menu .menu .menu-icon {
    color: rgb(187, 4, 4);
}

.main-header #header-logo a {
    color: rgb(187, 4, 4);
}